# --- Настройки PyCharm / IntelliJ IDEA ---
.idea/
*.iws
*.iml
*.ipr
out/

# --- Кэш Python и компилированные файлы ---
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/

# --- Виртуальное окружение ---
.venv/
venv/
ENV/
env/

# --- Файлы конфигурации и секреты (не для GitHub!) ---
.env
*.log